<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Car Dealer</title>
    <link rel="stylesheet" href="css/dragAndDrop.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript" src="js/dragAndDrop.js"></script>
</head>

<body>
<div id="salon">
    <div id="clients_queue">
        <div class="client client_5">
            <span class="preference">Client for Volkswagen</span>
        </div>
    </div>
    <div id="cars_place">
        <div id="porsche" class="place">
            <div class="car_brand">
                Place for Porsche cars
            </div>
            <div class="car_booth_list">
                <div class="car_booth">
                    <div class="car_status">
                        <img src="images/Sold.jpg" alt=""/>
                    </div>
                    <div class="car_img">
                        <img src="images/Porsche_1.jpg" alt=""/>
                    </div>
                    <div class="car_reception_desk">
                        drag and drop client to here
                    </div>
                </div>
            </div>
        </div>
        <div id="volkswagen" class="place">
            Place for Volkswagen cars
        </div>
        <div id="audi" class="place">
            Place for Audi cars
        </div>
        <div id="bmw" class="place">
            Place for BMW cars
        </div>
    </div>
</div>
</body>
</html>
