<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Car Dealer</title>
    <link rel="stylesheet" href="css/dragAndDrop.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript" src="js/dragAndDrop.js"></script>
</head>

<body>
<div id="salon">
    <div id="clients_queue">
    </div>
    <div id="cars_place">
        <div id="porsche" class="place">
            <div class="car_brand">
                Place for Porsche cars
            </div>
            <div class="car_booth_list">
                <!-- Porsche goes in here -->
            </div>
        </div>
        <div id="volkswagen" class="place">
            <div class="car_brand">
                Place for Volkswagen cars
            </div>
            <div class="car_booth_list">
                <!-- Volkswagen goes in here -->
            </div>
        </div>
        <div id="audi" class="place">
            <div class="car_brand">
                Place for Audi cars
            </div>
            <div class="car_booth_list">
                <!-- Audi goes in here -->
            </div>
        </div>
        <div id="bmw" class="place">
            <div class="car_brand">
                Place for BMW cars
            </div>
            <div class="car_booth_list">
                <!-- BMW goes in here -->
            </div>
        </div>
    </div>
    <div id="cashier">
        cashier
    </div>
    <div id="exit">
        exit
    </div>
    <div id="display">
        <ul>
            <li id="clients_served">10 clients</li>
            <li id="cars_sold">10 cars</li>
            <li id="amount">€ 120.000,00</li>
        </ul>
    </div>
</div>
</body>
</html>
